.ms{
    width: 25%;
}

.fac-tt{
height: 390px;
}

.imageer{
    border-bottom: 6px;
    border-radius: 42px;
    height: 60px;
}

.Intro{
    background-color: #ede59a;
    background-blend-mode: lighten;
}